/vendor/
/node_modules/
/.idea/
/.vscode/
/.vagrant/
/.phpunit.result.cache
.env
.env.backup
.phpunit.cache
composer.lock
phpunit.xml.cache
.DS_Store
Thumbs.db
*.log
*.cache
/coverage/
/.phpunit.cache/

